@import '/src/app/styles/variables.scss';
.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: $primary-color;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    align-items: center;

}

.footer-links-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-links-container .footer-section-title {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.footer-links-container a {
    display: block;
    color: $elementary-color;
    text-decoration: none;
    margin: 5px 0;
}

.footer-links-container a:hover {
    text-decoration: underline;
}

.footer-links-container .contact {
    display: block;
    margin-top: 5px;
}

.footer-element-title{
    font-weight: bold;
}

.title{
    font-size: 48px;
}

.logo{
    height: 56px;
    width: 56px;
}