<div class="footer-container">
    <div class="footer-links-container">
        <span class="footer-section-title">Contact Us</span>
        <div>
            <span class="footer-element-title">Email</span>
            <span>: labAngular.com</span>
        </div>
        <div>
            <span class="footer-element-title">Address</span>
            <span>: 1234 Main St, Barcelona, Spain</span>
        </div>
        <div>
            <span class="footer-element-title">Phone</span>
            <span>: +34 123 456 789</span>
        </div>
    </div>
    <div>
        <img src="assets/images/logo.png" alt="logo" class="logo">
    </div>
</div>